<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.worldline.in.weipl_checkout_flutter">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-feature android:name="android.hardware.telephony" android:required="false" />

    <application
        android:allowBackup="false"
        android:usesCleartextTraffic="false"
        android:supportsRtl="true"
        tools:targetApi="34">
        <activity android:name="com.weipl.checkout.WLCheckoutActivity"
            android:exported="true" android:screenOrientation="portrait">
        </activity>
        <meta-data android:name="sdk_version" android:value="1.2.2" />
        <meta-data android:name="DESCRIPTION" android:value="" />
        <provider android:name="com.weipl.checkout.WLContentProvider" android:authorities="${applicationId}.WLSDKContentProvider" android:exported="false"/>
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="upi" android:host="pay"/>
        </intent>
    </queries>
</manifest>
