<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.worldline.in.weipl_checkout_flutter">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="false"
        android:usesCleartextTraffic="false"
        android:supportsRtl="true"
        android:theme="@style/WLCheckoutTheme"
        tools:targetApi="33">
        <activity android:name="com.weipl.checkout.WLCheckoutActivity"
            android:exported="true"
            android:theme="@style/WLCheckoutTheme">
        </activity>
        <meta-data android:name="sdk_version" android:value="1.0.3" />
        <meta-data android:name="DESCRIPTION" android:value="" />
    </application>

    <queries>
        <intent>
            <action android:name="android.intent.action.VIEW" />
            <data android:scheme="upi" android:host="pay"/>
        </intent>
    </queries>
</manifest>
